/* style.css */
html, body, [data-testid="stAppViewContainer"] {
    background: linear-gradient(135deg, lch(83.95% 17.72 48.49) 0%, #0f172a 100%);
}
.page-icon {
  color: #3b82f6;   /* bleu pro */
}
svg {
  fill: #ffffff;    /* blanc contrast */
}


section[data-testid="stTextArea"] textarea {
    background: #095bc7;
    color: hsl(0, 74%, 32%);
    border-radius: 10px;
    border: 1px solid #375145;
}

button[kind="primary"]{
    background: #bfbc00;
    color: rgb(44, 216, 9);
    border-radius: 10px;
    border: none;
}

