/* SPAM animé */
.spam-result {
    background: #dc2626;   /* rouge danger */
    color: #ffffff;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    animation: shake 0.5s infinite; /* اهتزاز مستمر */
}

/* Animation shake */
@keyframes shake {
  0% { transform: translateX(0px); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0px); }
}
